.legal-section {
  background: linear-gradient(40deg, #1c1c1c 35%, #08463b 100%);
  width: 100%;
  min-height: 90vh;
  padding: 150px 20px 30px;
}

#legal-content-container {
  display: none;
  background-color: #1c1c1c;
}

.legal-content {
  max-width: 80%;
  margin: 0 auto;
  overflow-wrap: break-word;
  word-break: break-word;
}

.legal-title {
  color: #3dcfb6;
  font-size: 6.4rem;
  margin-bottom: 50px;
  font-family: var(--font-code);
  font-weight: 700;
  line-height: 1.2;
  display: flex;
  align-items: center;
  justify-content: center;
}

.legal-block h3 {
  color: #ffffff;
  font-size: 1.9rem;
  font-weight: 700;
  line-height: 1.2;
  margin-bottom: 5px;
}

.legal-block ul {
  margin-left: 20px;
  margin-bottom: 12px;
}

.legal-block p {
  margin-bottom: 24px;
}

.legal-block p,
.legal-block li {
  font-size: 1.6rem;
  line-height: 1.2;
  color: #3dcfb6;
}

.legal-content a {
  color: #3dcfb6; /* deine Akzentfarbe */
  text-decoration: underline;
  text-underline-offset: 3px; /* moderner Abstand */
  text-decoration-thickness: 1px;
}

.legal-content a:hover {
  opacity: 0.75;
}

.legal-section .highlight {
  color: #ffffff !important;
  font-weight: 600;
}

.back-button {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: transform 0.3s ease;
  margin-bottom: 40px;
}

.back-icon {
  width: 60px;
  height: 60px;
  filter: brightness(0) invert(1);
  transition: filter 0.3s ease;
}

/* Responsive Styles */

@media (max-width: 1600px) {
  .container {
    padding: 0 40px;
  }

  .hero-name h1 {
    font-size: 9rem;
    margin-top: -20px;
  }
}

@media (max-width: 1200px) {
  .container {
    padding: 0 40px;
  }
  h1 {
    font-size: 2.5rem;
  }
}

@media (hover: hover) {
  .back-button:hover {
    transform: scale(1.1);
  }

  .back-button:hover .back-icon {
    filter: invert(40%) sepia(95%) saturate(321%) hue-rotate(121deg)
      brightness(91%) contrast(91%);
  }
}

@media (max-width: 768px) {
  .back-button {
    margin-left: -15px;
  }
  .project-grid {
    grid-template-columns: 1fr;
  }
  .nav-links {
    display: none;
  }

  .back-button:active {
    transform: scale(0.95);
    opacity: 0.7;
    transition: transform 0.1s ease;
  }
}

@media (max-width: 480px) {
  .legal-title {
    font-size: 4rem;
    margin-bottom: 30px;
  }
  .legal-section {
    padding: 120px 20px 30px;
  }
}
