.legal-section {
  background: linear-gradient(40deg, #1c1c1c 35%, #08463b 100%);
  width: 100%;
  min-height: 100vh;
  padding: clamp(100px, 15vh, 150px) 0 60px;
}

#legal-content-container {
  display: none;
  background-color: #1c1c1c;
}

.legal-content {
  width: 90%;
  max-width: var(--main-container-width);
  margin: 0 auto;
  overflow-wrap: break-word;
}

.legal-title {
  color: #3dcfb6;
  font-size: clamp(3.2rem, 8vw, 6.4rem);
  margin-bottom: 50px;
  font-family: var(--font-code);
  font-weight: 700;
  line-height: 1.2;
  margin-bottom: 50px;
  text-align: center;
}

.legal-block {
  margin-bottom: 40px;
}

.legal-block h3 {
  color: #ffffff;
  font-size: 1.9rem;
  font-weight: 700;
  line-height: 1.2;
  margin-bottom: 15px;
  font-family: var(--font-code);
}

.legal-block strong {
  color: #ffffff;
  font-size: 1.8rem;
  font-weight: 700;
  line-height: 1.2;
  display: block;
}

.legal-block p,
.legal-block li {
  font-size: 1.8rem;
  line-height: 1.6;
  color: #3dcfb6;
  margin-bottom: 15px;
}

.legal-block ul {
  margin-left: 25px;
  list-style-type: square;
}

.legal-block p {
  margin-bottom: 24px;
}

.legal-content a {
  color: #3dcfb6;
  text-decoration: underline;
  text-underline-offset: 3px;
  text-decoration-thickness: 1px;
  transition: opacity 0.2s ease;
}

.legal-content a:hover {
  opacity: 0.7;
}

.legal-section .highlight {
  color: #ffffff !important;
  font-weight: 600;
}

.back-button {
  background: none;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  margin-bottom: 40px;
  transition: transform 0.3s ease;
}

.back-icon {
  width: 50px;
  height: 50px;
  filter: brightness(0) invert(1);
}

/* Responsive Styles */

@media (max-width: 1600px) {
  .container {
    padding: 0 40px;
  }

  .hero-name h1 {
    font-size: 9rem;
    margin-top: -20px;
  }
}

@media (max-width: 1200px) {
  .container {
    padding: 0 40px;
  }
  h1 {
    font-size: 2.5rem;
  }
}

@media (hover: hover) {
  .back-button:hover {
    transform: scale(1.1);
  }

  .back-button:hover .back-icon {
    filter: invert(40%) sepia(95%) saturate(321%) hue-rotate(121deg)
      brightness(91%) contrast(91%);
  }
}

@media (max-width: 950px) {
  .legal-title {
    text-align: left;
  }

  .back-icon {
    width: 40px;
    height: 40px;
  }
}

@media (max-width: 480px) {
  .legal-section {
    padding-top: 80px;
  }

  .legal-block h3 {
    font-size: 1.9rem;
  }
}

@media (max-width: 768px) {
  .back-button {
    margin-left: -15px;
  }
  .project-grid {
    grid-template-columns: 1fr;
  }
  .nav-links {
    display: none;
  }

  .back-button:active {
    transform: scale(0.95);
    opacity: 0.7;
    transition:
      transform 0.1s ease,
      opacity 0.1s ease;
  }

  .back-icon {
    width: 40px;
    height: 40px;
  }
}

@media (max-width: 480px) {
  .legal-title {
    font-size: 4rem;
    margin-bottom: 30px;
  }
  .legal-section {
    padding: 120px 20px 30px;
  }
}
